<h1>Welcome to School Challenge!</h1>
<p>Use this application to manage student and teacher data for your school. Some of the things you can do here are:</p>
<ul>
    <li><strong>Look up Students</strong>. Find and view student data quickly.</li>
    <li><strong>Look up Teachers</strong>. Find and view teacher data quickly.</li>
    <li><strong>Edit Student &amp; Teacher Data</strong>. Make changes to your student/teacher data and save it.</li>
    <li><strong>Bulk Upload new Data</strong>. Upload new student/teacher data.</li>
</ul>
