<h1>Students</h1>

<p>Our students</p>

<p *ngIf="!students"><em>Loading...</em></p>

<table class='table' *ngIf="students">
    <thead>
        <tr>
            <th>Id</th>
            <th>Number</th>
            <th>Name</th>
            <th>Scholarship?</th>
            <th>TeacherId</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{ student.id }}</td>
            <td>{{ student.number }}</td>
            <td>{{ student.lastName }}, {{ student.firstName }}</td>
            <td>{{ student.hasScholarship }}</td>
            <td>{{ student.teacherId }}</td>
            <td><span class='glyphicon glyphicon-trash' (click)="deleteStudent(student)" style="cursor: pointer;" title="delete"></span></td>
        </tr>
    </tbody>
</table>